{# footnotes/footnote-list.html.twig #}
{% if footnotes|length > 0 %}
  <aside class="wb-fnote" role="note">
    <h2 id="fn">{{ 'Footnotes'|t }}</h2>

    <dl>
      {% for footnote_id, footnote_group in footnotes %}
        {% set first_footnote = footnote_group|first %}
        {% if not first_footnote.is_same_text %}

          {# The texts are not the same, output each footnote as a separate
              line even though they have the same backlink number. #}
          {% for footnote in footnote_group %}
            <dt>{{ 'Footnote'|t }} {{ footnote.value|render|trim }}</dt>
            <dd id="fn{{ footnote.value|render|trim }}">
              {{ footnote.text|raw }}
              <p class="fn-rtn">
                <a href="#{{ footnote.ref_id }}">
                  <span class="wb-inv">{{ 'Return to footnote'|t }} </span>{{ footnote.value|render|trim }}<span class="wb-inv"> {{ 'referrer'|t }}</span>
                </a>
              <p>
            </dd>
          {% endfor %}

        {% else %}
          {# The values and texts are the same, combine them into a single
              line and output multiple backlinks. #}
          <dt>{{ 'Footnote'|t }} {{ first_footnote.value|render|trim }}</dt>
          <dd id="fn{{ first_footnote.value|render|trim }}">
            {{ first_footnote.text|raw }}
            <p class="fn-rtn">
                <a href="#{{ first_footnote.ref_id }}"><span class="wb-inv">{{ 'Return to footnote'|t }} </span>{{ first_footnote.value|render|trim }}<span class="wb-inv"> {{ 'referrer'|t }}</span></a>
            </p>
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
  </aside>
{% endif %}

